.dashboard {
    margin-top: 20rem;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 4rem;
    font-size: .8rem;
}

.bck-btn {
    display: none;
}

.dashboard input {
    width: 100%;
    padding: .6rem;
    border: 1px solid #eee;
    background: rgba(0, 0, 0, .5);
    font-size: .8rem;
    color: white;
}

.length-nav .len {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    border-top: 1px solid #eee;
    padding: .6rem;
    border-bottom: 1px solid #eee;
}

.link-adm {
    margin-top: 2rem;
    padding: .6rem;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    width: 100%;
}

.link-adm a {
    text-decoration: none;
    color: #eee;
}

.link-adm a:not(:first-child) {
    margin-left: 1rem;
}

.dashboard-center {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    gap: 33px;
}

.dashboard-center-right {
    width: 50%;
    background: rgba(0, 0, 0, .5);
    padding: .6rem;
    max-height: 470px;
    overflow-y: auto;
    position: relative;
}

.dashboard-center-left {
    width: 50%;
    background: rgba(0, 0, 0, .5);
    padding: .6rem;
    max-height: 470px;
    overflow-y: auto;
    position: relative;
}

.dashboard-center-left h1 {
    font-size: 1rem;
}

.dash-news-disp-cen {
    display: flex;
    align-items: center;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    justify-content: space-between;
}

.admin-update-form {
    position: fixed;
    top: 300px;
    padding: .6rem;
    width: 400px;
    background: black;
}

.admin-update-form .edit-close {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.admin-update-form input {
    width: 96%;
    background: rgba(0, 0, 0, .5);
}

.admin-update-form textarea {
    width: 96%;
    padding: .6rem;
    margin-top: 1rem;
    height: 150px;
    outline: none;
    border: none;
    font-size: .6rem;
}

.admin-update-form select {
    padding: .6rem;
    width: 100%;
    font-size: .6rem;
}

.admin-update-form button {
    width: 100%;
    padding: .6rem;
    margin-top: 1rem;
    background: gray;
    color: white;
    font-size: .6rem;
}

.dash-approvals h1 {
    font-size: .8rem;
}

ul li {
    list-style: none;
}

.approved-user {
    width: 100%;
}

.not-approved {
    width: 100%;
}

.approved-user,
.not-approved,
.allusers {
    background-color: black;
    padding: .6rem;
    width: 96%;
    max-height: 250px;
    overflow-y: auto;
    margin-bottom: 1rem;
}

.not-approved-center,
.approve-user-center,
.allusers-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}


.user-dashboad {
    margin-top: 14rem;
    margin-left: 10%;
    margin-right: 10%;
}

.image-orisiri {
    display: flex;
    gap: 30px;
}


.wlc,
.created-news-by-user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: .8rem 0;
}

.dash-user-image {
    width: 20%;
}

.dash-user-image img {
    width: 100%;
    height: 150px;
}

.user-dashboard-details {
    width: 80%;
}

.user-link {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: .8rem 0;
}

.user-link a {
    text-decoration: none;
    color: white;
}

.user-link a:not(:first-child) {
    margin-left: 1rem;
}

.user-link a:hover {
    color: gray;
}

/**TABLET*/
@media screen and (max-width: 768px) {
    .dashboard {
        margin-top: 13rem;
        font-size: .5rem;
    }

    .length-nav .len {
        padding: .4rem;
    }

    .dashboard input {
        font-size: .5rem;
        padding: .4rem;
    }

    .link-adm {
        padding: .4rem;
    }
}

@media screen and (max-width: 480px) {
    .dashboard {
        margin-top: 12rem;
        font-size: .9rem;
    }

    .dashboard-center {
        flex-direction: column;
        gap: 1rem;
    }

    .dashboard-center-right {
        width: 100%;
    }

    .bck-btn {
        display: block;
        font-size: 1rem;
    }

    .dashboard-center-left {
        width: 100%;
    }

    .dashboard form input {
        font-size: .9rem;
    }


    .user-dashboad {
        margin-top: 12rem;
        margin-left: 2%;
        margin-right: 2%;
    }

    .image-orisiri {
        gap: 10px;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        padding: .6rem;
    }

    .dash-user-image {
        width: 15%;
    }

    .user-dashboard-details {
        width: 85%;
    }

    .dash-user-image img {
        height: 40px;
        border-radius: 50%;
    }

    .wlc,
    .created-news-by-user {
        padding: .6rem;
        font-size: .8rem;
    }

    .user-link a {
        font-size: .8rem;
    }

    .user-link a:not(:first-child) {
        margin-left: 1rem;
    }

    .user-link {
        padding: .6rem;
    }
}