header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 2px 2px 2px gray;
    font-size: .7rem;
    z-index: 1;
    background-color: black;
}
.socials-float-left a{
    text-decoration: none;
    font-size: 1.5rem;
    color: #eee;
}

.nav-button {
    /* float: right; */
    padding: 1.5rem;
    font-weight: 100;
    font-size: .8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid gray;
}

.socials-float-left {
    display: flex;
    align-items: center;
    gap: 4rem;
    width: 40%;
}

.socials-logo {
    font-size: 1.5rem;
    border: none;
    outline: none;
    cursor: pointer;
}

.nav-search {
    width: 60%;
}

.nav-search input {
    width: 90%;
    padding: .7rem;
    outline: 1px solid white;
    border: none;
    background-color: rgba(0, 0, 0, .6);
    color: white;
    font-size: .6rem;
    border-radius: 4px;
}

.nav-bottom .bars {
    display: none;
}

.nav-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
}

/* .nav-bar-section{
    display: flex;
} */
.nav-bar-section nav a {
    text-decoration: none;
    font-size: .9rem;
    color: white;
    margin-left: 1.1rem;
}

.football-img {
    height: 30px;
    width: 30px;
    border-radius: 30px;
}

.logo-football-img {
    display: flex;
    align-items: center;
    gap: 10px;
}

.home-caret {
    margin-left: 1rem;
    font-size: .6rem;
    cursor: pointer;
}

.home-caret:hover {
    rotate: 180deg;
}

.news-section {
    display: none;
}

.news-section a {
    text-decoration: none;
    color: white;
    padding: .5rem;
    margin: 1rem;
    font-size: .7rem;
    display: block;
    border-bottom: 1px solid #eee;
}

.show-news-nav {
    display: block;
}

/**TABLET MODE*/
@media screen and (max-width: 768px) {
    .nav-button {
        padding: 1rem;
        gap: 1.5rem;
        font-size: .5rem;
    }

    .socials-float-left {
        gap: 2rem;
    }

    .nav-search input {
        width: 95%;
    }

    .nav-bar-section nav a {
        font-size: .5rem;
    }

    .news-section a {
        font-size: .5rem;
    }

    .home-caret {
        font-size: .4rem;
    }
}

/**MOBILE PHONE*/
@media screen and (max-width: 480px) {
    header {
        font-size: .8rem;
    }

    .ctc-us {
        display: none;
    }

    .nav-search {
        display: none;
    }

    .nav-list {
        display: none;
    }

    .nav-bottom .bars {
        display: block;
    }
    .logo-button{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .socials-logo{
        font-size: .8rem;
    }
    .na-sr{
        font-size: .8rem;
    }
    .show-nav-section{
        display: block;
    }
    .nav-bottom{
        display: block;
    }
    .nav-bar-section nav a{
        display: block;
        margin-bottom: .6rem;
        font-size: .6rem;
        border-bottom: .5px solid #eee;
        padding-bottom: .6rem;
    }
    .home-caret{
        display: none;
    }
}